{{page-title "ToDoList"}}

{{! The following component displays Ember's default welcome message. }}

<div class="container">
  <List @model={{@model}} />
</div>

{{! Feel free to remove this! }}

{{outlet}}